@import "tailwindcss";

@theme {
  --color-epicDark: #2B2D42;   /* Антрацит */
  --color-epicRed: #EF233C;    /* Малиновый красный (кнопки) */
  --color-epicCoral: #8D99AE;  /* Стальной синий (иконки) */
  --color-epicPink: #EDF2F4;   /* Светлый жемчуг (карточки) */
  --color-epicWhite: #FFFFFF;  /* Кристально белый (фон сайта) */
  
  --animate-marquee: marquee 80s linear infinite;
  @keyframes marquee { 0% { transform: translateX(0); } 100% { transform: translateX(-50%); } }
}