@import "tailwindcss";

@theme {
  --color-epicDark: #1A1C20;
  --color-epicRed: #FB6D2C;
  --color-epicCoral: #FDD831;
  --color-epicPink: #FDF7ED;
  --color-epicWhite: #FFFFFF;
  
  --animate-marquee: marquee 60s linear infinite;
  @keyframes marquee { from { transform: translateX(0); } to { transform: translateX(-50%); } }
}

@utility scrollbar-hide {
  &::-webkit-scrollbar { display: none !important; }
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

html { scroll-behavior: smooth; }
body { @apply antialiased text-epicDark bg-epicWhite font-sans; }