@import "tailwindcss";

@theme {
  --color-epicDark: #2E2E2E;    /* Фон и темные блоки */
  --color-epicRed: #FE746A;     /* Основной акцент (Кнопки) */
  --color-epicCoral: #FE746A;   /* Вспомогательный акцент */
  --color-epicPink: #AAFFC7;    /* Фон карточек (Мятный) */
  --color-epicWhite: #F6F6F6;   /* Основной фон сайта */
  
  --animate-marquee: marquee 80s linear infinite;
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}